body
{
background-image:url("stockImage.jpg");
background-repeat:no-repeat;
background-size: 200%;
}

#formid
{
margin-left:230px;
margin-top:5px;
margin-right:270px;
margin-bottom:25px;
}

.textBox{
width: 500px;
height:30px;
}



#button{
width: 80px;
height:40px;
}

#demo
{
margin-bottom:40px;
margin-left:200px;
height:400px;
width:800px;
}


td.pad{
font-weight:bold;
padding-right:100px;
padding-bottom:10px;
padding-left:40px;
float:left;
}

.t1
{
padding-left:250px;
}

td.val{
float:right;
}

.name
{
font-size:35px;
color:#F0FFF0;
}
.top
{
font-size:30px;
color:#F0FFF0;
}

#NoStock
{
font-size:60px;
color:#F0FFF0;
margin-right:250px;
margin-left:250px;
}




.arrowcolorG
{
color:#1C4919;
}


.arrowcolorR
{
color:#FF0000;
}
